body {
    background-color: rgb(126, 78, 110);
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    color: #f0ceb8;
}

h2 {color: rgb(240, 177, 99);}